<app-header-landing></app-header-landing>>
<h1 class="fs-1 fw-bold text-center mb-2 mt-2">Listado de tus compras de </h1>
<main class="contenedor">
    <br>
    <table>
        <thead class="titulo">
            <tr>
                <th>Nro°</th>
                <th>Id</th>
                <th>Apellido</th>
                <th>Nombre</th>
                <th>Provincia</th>
                <th>Lugar</th>
                <th>Cantidad</th>
                <th>Monto</th>
            </tr>
        </thead>
        <tbody class="compras">
            <tr *ngFor="let item of listaCompras; index as i">
                <td>{{i+1}}</td>
                <td>{{ item.id }}</td>
                <td>{{ item.users?.lastName}}</td>
                <td>{{ item.users?.name}}</td>
                <td>{{ item.travels?.province}}</td>
                <td>{{ item.travels?.place}}</td>
                <td>{{ item.quantity }}</td>
                <td>{{ item.amount| number: '1.2-2'}}</td>
            </tr>
        </tbody>
    </table>
</main>