<app-navbar-admin></app-navbar-admin>
<h2 class=" text-center fw-bold fs-3">Listado de viajes</h2>
<h1 class="fs-2 fw-bold text-center mb-2 mt-2">Ordenar por:</h1>
<div class="navegacion-footer">
  <div>
    <div class="btn-group me-md-2" role="group" aria-label="Basic example" style=" height: 4vh;">
      <span style="width: 8vw;" class="bg-dark text-white text-center fs-6" for="">Provincia</span>
      <button type="button" class="btn btn btn-dark" (click)="orderAscProvince()">⇑</button>
      <button type="button" class="btn btn btn-dark" (click)="orderDescProvince()">⇓</button>
    </div>
    <div class="btn-group me-md-2" role="group" aria-label="Basic example" style=" height: 4vh;">
      <span style="width: 8vw;" class="bg-dark text-white text-center fs-6" for="">Lugar</span>
      <button type="button" class="btn btn btn-dark" (click)="orderAscPlace()">⇑</button>
      <button type="button" class="btn btn btn-dark" (click)="orderDescPlace()">⇓</button>
    </div>
    <div class="btn-group me-md-2" role="group" aria-label="Basic example" style=" height: 4vh;">
      <span style="width: 8vw;" class="bg-dark text-white text-center fs-6 " for="">Precio</span>
      <button type="button" class="btn btn btn-dark" (click)="orderAscPrice()">⇑</button>
      <button type="button" class="btn btn btn-dark" (click)="orderDescPrice()">⇓</button>
    </div>
  </div>
</div>
<main class="contenedor"><br>
  <div class="overflow-y-auto " style="height: 60vh;scrollbar-color: #0c0000;">
    <table>
      <thead class="titulo">
        <tr>
          <th>Nro °</th>
          <th>Id</th>
          <th>Imagen</th>
          <th>Provincia</th>
          <th>Lugar</th>
          <th>Descripcion</th>
          <th>Actividad</th>
          <th>Precio</th>
          <th>Eliminar</th>
          <th>Editar</th>
        </tr>
      </thead>
      <tbody id="clientes">
        <tr *ngFor="let item of listaViajes; index as i">
          <td># {{i+1}}</td>
          <td>{{item.id}}</td>
          <td><img src={{item.image}} alt="" style="width: 10rem;" class=""></td>
          <td>{{item.province}}</td>
          <td>{{item.place}}</td>
          <td>{{item.description}}</td>
          <td>{{item.activities}}</td>
          <td>{{item.price}}</td>

          <td><input type="button" name="" value="❌" (click)="eliminarViaje(item)" class="btn btn-outline-danger"></td>
          <td><input type="button" name="" value="📝" [routerLink]="['/editTravel',item]"
              class="btn btn-outline-primary"></td>
        </tr>
      </tbody>
    </table>
  </div>
  <br>
  <br>
  <div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <input type="submit" [routerLink]="['/newUser'] " class="btn btn-outline-light  me-md-5 gap-3 btn-lg col-2"
        value="Nuevo destino">
  </div>
</main>