<app-header></app-header>
<h1 class="text-black text-center fw-bold fs-1">Menu de administrador</h1>
<nav class="nav nav-pills flex-column flex-sm-row  fs bg-opacity-75 bg-black text-white">
    <input class="btn btn-outline-light flex-sm-fill mx-auto text-sm-center btn-lg  p-1 g-col-2" style="width: 10rem;"
        type="button" value="Destinos" href="#" routerLink="/travel">
    <input class="btn btn-outline-light flex-sm-fill mx-auto text-sm-center btn-lg  p-1 g-col-2" style="width: 10rem;"
        type="button" value="Mensajes" href="#" routerLink="/message">
    <input class="btn btn-outline-light flex-sm-fill mx-auto text-sm-center btn-lg  p-1 g-col-2" style="width: 10rem;"
        type="button" value="Usuarios" href="#" routerLink="/user">
    <input class="btn btn-outline-light flex-sm-fill mx-auto text-sm-center btn-lg  p-1 g-col-2" style="width: 10rem;"
        type="button" value="Compras" href="#" routerLink="/buys">
</nav>