<header>
  <div>
    <p class=" fs-6 fw-bolder"
      style="font-size: 1vw;max-width: 50vw; margin: 0 auto; text-align: center;color: beige;background-color: rgba(0, 0, 0, 0.208);">
      ¡Bienvenidos a nuestra agencia de viajes! En un mundo lleno de destinos por descubrir y aventuras por vivir, nos
      complace enormemente ser parte de vuestro viaje. En cada paso que den con nosotros, los acompañaremos con
      entusiasmo
      y compromiso para convertir cada viaje en una experiencia inolvidable.
      En esta agencia, no solo organizamos viajes; creamos recuerdos. Nuestro equipo está aquí para hacer realidad
      vuestros sueños viajeros, ofreciendo no solo destinos, sino historias que contar, momentos para atesorar y
      vivencias
      únicas que llevarán en el corazón.
      Cada uno de vosotros es especial, con sueños y expectativas distintas. Desde explorar rincones remotos hasta
      sumergirse en la cultura local, desde relajarse en playas paradisíacas hasta embarcarse en emocionantes aventuras,
      estamos aquí para personalizar cada experiencia y hacer que cada viaje sea tan único como vosotros.
      Nuestro compromiso es brindaros el mejor servicio, la orientación más experta y la atención más cálida en cada
      etapa
      de vuestro viaje. Estamos ansiosos por ser vuestros cómplices en esta increíble travesía, ayudándoos a descubrir
      el
      mundo, un destino a la vez.
      ¡Bienvenidos a esta emocionante travesía con nosotros!</p>
  </div>
  <div class="navegacion-footer">
<!--     <nav class=" link-light text-end">
      <a href="#" routerLink="landing">Mision</a>
    </nav>
    <nav class=" link-light text-end">
      <a href="#" routerLink="landing">Valor</a>
    </nav>
    <nav class=" link-light text-end">
      <a href="#" routerLink="landing">Vision</a>
    </nav>
    <nav class=" link-light text-end">
      <a href="#" routerLink="/newMessage">Contacto</a>
    </nav> -->
    <p class="mt-2 fs-4 fst-italic fw-bold ">&copy; 2023 TRAVELERS PREMIUM AGENCY. Todos los derechos reservados.</p>
  </div>

</header>